WECHAT_APPID=
WECHAT_SECRET=
WECHAT_API_BASE_URL=https://api.weixin.qq.com
WECHAT_TOKEN_CACHE_FILE=~/.cache/wechat-official-publisher/token.json
WECHAT_PUBLISHER_LOG_FILE=~/.config/wechat-official-publisher/publisher.log
